APP_NAME=TabResolver
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=tabresolve
DB_USERNAME=tabresolve
DB_PASSWORD=secret

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_CONNECTION=reverb

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@tabresolve.app"
MAIL_FROM_NAME="${APP_NAME}"
